{% extends 'commathweb/base1.html' %}

{% block content %}

	

			<form action="#" method="get" class="contact100-form validate-form">
				<h1>IEEE floating point single precision (32-bit)</h1>

				<div class="wrap-input100 validate-input">
					<!-- <input id="name" class="input300" type="text" name="num" placeholder="Full name" value="{{ num }}"> -->
					<input id="num" class="input100" type="number" placeholder="1.000" step="any" min="0" max="9999999" name="num" value="{{ d }}">
					<span class="focus-input100"></span>
					<label class="label-input100" for="name">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>

				<div class="wrap-input100 validate-input">
					<div class="jumbotron">
						<div class="row">
							<div class="col-md">ผลลัพธ์<hr>{{ answer }}</div>
						</div>
					</div>
				</div>


				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						แปลง
					</button>
				</div>
			</form>

		</div>
	</div> 

{% endblock %}